# Assignment 21

In [13]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.linear_model import Perceptron
from sklearn.metrics import accuracy_score

# Step 1: Load your dataset
# Replace 'your_dataset.csv' with the path to your dataset
data = pd.read_csv('../datasets/tested.csv')

# Step 2: Handle missing values
# Replace missing values or drop rows with missing data
# data = data.fillna(data.mean())  # Replace with mean
data = data.dropna()  # Drop rows with missing data
data.head()

# # Step 3: Handle categorical data
# # Use One-Hot Encoding for categorical columns
# categorical_columns = ['Sex', 'Embarked']  # Include 'Embarked' for encoding
# data = pd.get_dummies(data, columns=categorical_columns)

# # Step 4: Split the dataset into features (X) and target (y)
# target_column = 'Survived'  # Replace with your target column
# irrelevant_columns = ['Name', 'Ticket', 'Cabin']  # Columns to drop
# X = data.drop(columns=[target_column] + irrelevant_columns)  # Drop target and irrelevant columns
# y = data[target_column]

# # Step 5: Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# # Step 6: Standardize the features
# scaler = StandardScaler()
# X_train = scaler.fit_transform(X_train)
# X_test = scaler.transform(X_test)

# # Step 7: Train the Perceptron model
# perceptron = Perceptron(max_iter=10, eta0=0.1, random_state=42)  # Adjust max_iter and eta0 as needed
# perceptron.fit(X_train, y_train)

# # Step 8: Make predictions
# y_train_pred = perceptron.predict(X_train)
# y_test_pred = perceptron.predict(X_test)

# # Step 9: Calculate accuracy
# train_accuracy = accuracy_score(y_train, y_train_pred)
# test_accuracy = accuracy_score(y_test, y_test_pred)

# print(f"Training Accuracy: {train_accuracy}")
# print(f"Testing Accuracy: {test_accuracy}")

# # Optional: Experiment with hidden_layer_sizes or other hyperparameters

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
12,904,1,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
14,906,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
24,916,1,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
26,918,1,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
28,920,0,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S