# Assignment 5
### Univariate analysis

In [8]:
import pandas as pd

# Load the dataset
lifeExpectancy = pd.read_csv('../datasets/lifeExpectancyAtBirth.csv', sep=',')

# Display the first few rows
lifeExpectancy.head()

,Location,Period,Indicator,Dim1,First Tooltip
0,Afghanistan,2019,Life expectancy at birth (years),Both sexes,63.21
1,Afghanistan,2019,Life expectancy at birth (years),Male,63.29
2,Afghanistan,2019,Life expectancy at birth (years),Female,63.16
3,Afghanistan,2015,Life expectancy at birth (years),Both sexes,61.65
4,Afghanistan,2015,Life expectancy at birth (years),Male,61.04

In [9]:
# Filter for 2019 and 'Both sexes'
life2019 = lifeExpectancy[(lifeExpectancy['Period'] == 2019) & (lifeExpectancy['Dim1'] == 'Both sexes')]

# Univariate analysis: describe life expectancy
life2019['First Tooltip'].describe()

count    183.000000
mean      72.540492
std        7.129956
min       50.750000
25%       66.550000
50%       73.740000
75%       77.730000
max       84.260000
Name: First Tooltip, dtype: float64

In [10]:
# Five countries with the highest life expectancy
highest = life2019.sort_values(by='First Tooltip', ascending=False).head(5)
print("Five countries with the highest life expectancy in 2019:")
print(highest[['Location', 'First Tooltip']])

# Five countries with the lowest life expectancy
lowest = life2019.sort_values(by='First Tooltip', ascending=True).head(5)
print("\nFive countries with the lowest life expectancy in 2019:")
print(lowest[['Location', 'First Tooltip']])

Five countries with the highest life expectancy in 2019:
               Location  First Tooltip
997               Japan          84.26
1897        Switzerland          83.45
1573  Republic of Korea          83.30
1837              Spain          83.22
1753          Singapore          83.22

Five countries with the lowest life expectancy in 2019:
                      Location  First Tooltip
1117                   Lesotho          50.75
373   Central African Republic          53.10
1801                   Somalia          56.47
661                   Eswatini          57.73
1333                Mozambique          58.14

### Conclusion
We first create the dataframe with the filtered results (only period value of 2019 and dim1 of 'both sexes'). Next we sort the data based on the 'first tooltip' column and print these values, both ascending and descending.