In [2]:
import pandas as pd
import scipy.stats as st

In [3]:
df = pd.read_csv('../Datasets/adult.csv')
ages = df['age'].dropna()
# Display the first few rows of the dataset to confirm it loaded correctly
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [ ]:
mean_age = ages.mean()
sem_age = st.sem(ages)

confidence = .90
print(st.t.interval(confidence, len(ages)-1, loc=mean_age, scale=sem_age))

confidence = .95
print(st.t.interval(confidence, len(ages)-1, loc=mean_age, scale=sem_age))

confidence = .99
print(st.t.interval(confidence, len(ages)-1, loc=mean_age, scale=sem_age))

confidence = .9999
print(st.t.interval(confidence, len(ages)-1, loc=mean_age, scale=sem_age))

(np.float64(38.541540285462055), np.float64(38.74563059206138))
(np.float64(38.521990431818786), np.float64(38.76518044570465))
(np.float64(38.4837802264644), np.float64(38.80339065105904))
(np.float64(38.40220146197806), np.float64(38.88496941554538))

### Conclusion
As the confidence level increases, the confidence interval becomes wider. This occurs because a higher confidence level requires a broader range to ensure that the true mean is captured within the interval. In other words, to be more certain that the interval contains the true mean, we must allow for a larger possible range of values.